.donation {
    padding-block: var(--main-gap);
    background: var(--light-bg-color);
    
    .youtube-homepage__block {
        display: grid;
        gap: var(--main-gap);

        // @media (width > 90ch) {
        //     grid-template-columns: 1fr 2fr;
        // }
    }

    .donation__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: var(--main-gap);
        list-style: none;
        padding-inline: 0;
        container-type: inline-size;   
        container-name: youtube-videos;
    }

    .card {
        background-color: var(--light-bg-color-light);
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: var(--box-shadow);
        
        a {
            display: block;
            padding: .3rem .5rem .5rem;
            font-weight: 600;
            text-decoration: none;
            color: inherit;
            line-height: 1.2;
            coursor: pointer;
        }

        .card__cur {
            display: flex;
            justify-content: end;
            gap: calc(var(--main-gap) / 2);
            padding-block-start: calc(var(--main-gap) / 2);
            font-size: var(--fs-300);

            span {
                background: var(--dark-bg-gradient);
                padding-inline: .3em;
                border-radius: var(--border-radius);
                color: var(--light-text-color);
            }
        }
    }
}