.hero {
    padding-block: var(--main-gap);
    background: var(--dark-bg-gradient);

    .hero__content-title {
        margin-inline-start: auto;
        max-width: 32ch;
        color: var(--text-on-dark);
        text-align: end;
        text-wrap: balance;
        font-size: var(--fs-700);
        line-height: 1.2;
    }
}