.youtube-homepage {
    padding-block: var(--main-gap);
    background: var(--light-bg-color-dark);
    
    .youtube-homepage__block {
        display: grid;
        gap: var(--main-gap);

        @media (width > 90ch) {
            grid-template-columns: 1fr 2fr;
        }
    }

    .youtube-homepage__videos {

        .youtube-homepage__videos-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
            gap: var(--main-gap);
            list-style: none;
            padding-inline: 0;
            container-type: inline-size;   
            container-name: youtube-videos;         
        }
    }
}