.youtube-card {
    container-type: inline-size;   
    container-name: youtube-card;

    .button {
        min-height: 100%;
        border: none;
        padding: 0;
        cursor: pointer;
        background-color: var(--light-bg-color);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        overflow: hidden;
        display: grid;
        inline-gap: calc(var(--main-gap) / 2);
        grid-template-areas:
            "title"
            "image"
            "info";
    
        @container youtube-card (width > 22ch) {
            grid-template-columns: 3fr 4fr;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "image info"
                "title title"
            ;
        }
    }

    .title {
        grid-area: title;        
        padding: .3em .5em .2em;
        background: var(--dark-bg-gradient);
        text-align: start;
        font-size: 1.18rem;
        color: var(--text-on-dark);
        word-break: break-word;
        hyphens: auto;
        line-height: 1.2;
    }

    .image {
        grid-area: image;
        align-self: center;
        aspect-ratio: 16 / 9;
    }

    .info {
        padding: .3em .5em .2em;
        grid-area: info;
        display: grid;
        grid-template-rows: min-content;
        align-content: space-between;
        font-size: var(--fs-300);
        line-height: 1.2;
        text-align: end;
        
        .date {
            font-weight: 600;
        }

        .broadcast {
            padding: .08em .4em .1em;
            margin-inline-start: auto;
            text-transform: uppercase;
            width: min-content;
            color: var(--text-on-dark);
            font-weight: 600;
            background-color: var(--warning);
        }
        
        .type {
            font-size: var(--fs-200);
            hyphens: auto;
            text-wrap: balance;
        }
    }
}