.youtube-homepage {
    padding-block: var(--main-gap);
    background: var(--light-bg-color-dark);
    
    .youtube-homepage__block {
        display: grid;
        gap: var(--main-gap);

        @media (width > 90ch) {
            grid-template-columns: 1fr 2fr;
        }
    }

    .youtube-homepage__playlists {

        
        .youtube-homepage__playlists-grid {
            display: grid;
            gap: var(--main-gap);
            grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
            align-items: start;

            .youtube-homepage__playlist-block {
                display: grid;
                gap: var(--main-gap);
            }
            
            .youtube-homepage__playlist-header {
                padding-block: calc(var(--main-gap)5/ 4);
                padding-inline: calc(var(--main-gap) / 2);
                background-color: var(--light-bg-color);
                border-radius: var(--border-radius);
                text-align: end;    
            }

            .youtube-homepage__playlist-list {
                display: grid;
                gap: var(--main-gap);
                list-style: none;
                padding-inline: 0;
                container-type: inline-size;
            }
        }
    }
}