:root, ::backdrop {
    /* Colors */

    --link-hue: 240; // 240
    --link-sat: 0%; // 33%

    --dark-text-color: hsl(0 0% 20%);
    --light-text-color: hsl(0 0% 98%);

    --warning-color: hsl(348 56% 47%);        

    --accent-color: hsl(207, 35%, 53%);
    --accent-color-night: hsl(from var(--accent-color) h s 16%);
    --accent-color-dark: hsl(from var(--accent-color) h s 26%);
    --accent-color-light: hsl(from var(--accent-color) h s 82%);

    --dark-bg-color: hsl(94 0% 26%);
    --dark-bg-color-dark: hsl(from var(--dark-bg-color) h s 6%);
    --dark-bg-color-light: hsl(from var(--dark-bg-color) h s 46%);
    
    --light-bg-color: hsl(94 0% 88%);
    --light-bg-color-dark: hsl(from var(--light-bg-color) h s 78%);
    --light-bg-color-light: hsl(from var(--light-bg-color) h s 100%);

    --link-color: hsl(240 20% 70%);
    --link-color-dark: hsl(from var(--link-color) h s 50%);
    --link-color-light: hsl(from var(--link-color) h s 90%);

    --dark-bg-gradient: radial-gradient(
        farthest-corner circle at 6% 83%,
        hsl(from var(--accent-color-night) h s 56%) 1% 1%, 28%,
        hsl(from var(--accent-color-night) h s 32%) 100%
    );
    
    --box-shadow:
        0 1px 2px hsl(from var(--dark-bg-color) h s 25% / 30%),
        0 1px 3px hsl(from var(--dark-bg-color) h s 25% / 15%);

    --border-radius: 0.2rem;

    // --ff-main: "Exo", Arial, Helvetica, sans-serif;
    --ff-main: system-ui;
    --ff-accent: system-ui;
    --ff-mono: monospace;
    
    /* font-sizes */
    --fs-200: clamp(0.75rem, calc(0.75rem + 0.08vw), 0.8rem);
    --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
    --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
    --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
    --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
    --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
    --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
    --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

    /* paddings, margins, gaps */
    --main-gap: clamp(.7rem, calc(.5rem + 1vw), 1rem);
    --block-gap: calc(var(--main-gap) * 2)
}
