<footer class="footer">
    <div class="width-wrapper">
        <div class="footer__inner">
            <div class="footer__main">
                <a class="footer__logo" href="{{ site.Home.RelPermalink }}">
                    {{/*  {{ partialCached "logo-svg" . }}  */}}
                    <h2>{{ site.Params.logoName }}</h2>
                </a>
                <div class="footer__contacts">
                    <div class="footer__contacts-part">
                    {{ site.Params.email }}<br>
                    {{- range site.Params.phones }}
                    {{ . | markdownify }}<br>
                    {{- end }}
                    </div>
                </div>
            </div>
            <div class="footer__navs">
                {{ partial "footer/footer-nav.html" "service" }}
                {{ partial "footer/footer-nav.html" "info" }}
            </div>
        </div>
    </div>
    {{ partial "footer/footer-legal"}}
</footer>