<!DOCTYPE html>
<html{{ with site.LanguageCode | default site.Language.Lang }} lang="{{ . }}" {{ end }}>
{{- partial "head/head" . -}}
<body>
    {{ block "header" . }}
        {{ partial "header/header" . }}
    {{ end }}
    <div class="content-section">
        <main id="main-content" class="main">
            {{ block "main" . }}{{ end }}
        </main>
        {{ block "aside" . }}
            <aside>
                <div class="width-wrapper">
                    <article class="content content--index">
                        <h1>{{ .Title }}</h1>
                        {{ .Content }}
                    </article>
                </div>
                {{ partial "homepage/blog" . }}
            </aside>
        {{ end }}
    </div>
    {{ block "footer" . }}
        {{ partial "footer/footer" . }}
    {{ end }}
    {{- partial "footer-scripts" . -}}
</body>
</html>