{{- $apiURL := site.Params.youtube.feedURL }}
{{- $maxResults := site.Params.youtube.maxResults }}

{{ $feedURL := $apiURL }}
{{ with $maxResults }}
    {{ $feedURL = printf "%s?maxResults=%d" $feedURL . }}
{{ end }}
{{ $feed := dict }}
{{ warnf "Fetching YouTube data from %s" $feedURL }}

{{ with try (resources.GetRemote $feedURL) }}
    {{ with .Err }}
        {{ warnf "Remote req error %s" . }}
    {{ else with .Value}}
        {{ $feed = . | transform.Unmarshal }}
        {{/*  fetch time  */}}
        {{ $fetchTime := time.Now.Unix }}
        {{ $feed = merge $feed (dict "fetchTime" $fetchTime) }}
    {{ end }}
{{ else }}
    {{ errorf "Failed to fetch YouTube feed from %s" $feedURL }}
{{ end }}

{{ $lastTitle :=  where $feed.videos "liveBroadcastContent" "none" }}
{{ $lastTitle =  index $lastTitle 0 }}
{{ $lastTitle = $lastTitle.title }}

{{/*  {{ warnf "Last title: %s" $lastTitle}}  */}}

{{ page.Store.Set "lastTitle" $lastTitle }}

{{ return $feed }}

{{/*
http://localhost:8787/?channelId=UCA_2oV10_uipWBWlyfJj16w&playListsIds=PLnPDytUjzMjorEFqrGw5xZmf_WEfip1WP,PLnPDytUjzMjqVgdw4DZkWlphQaWpTFBU6
*/}}