{{ $description := site.Params.description }}
{{ $feed := (page.Store.Get "youTubeData") }}
{{ if $feed }}
    {{ $lastTitle := where $feed.videos "liveBroadcastContent" "none" }}
    {{ $lastTitle = index $lastTitle 0 }}
    {{ $lastTitle = $lastTitle.title }}
    
    {{ with $lastTitle }}
        {{ $description = (printf "%s | %s" $description .) }}
    {{ end }}
    {{/*  {{ warnf "Last YT title: %s"  $lastTitle }}  */}}
{{ end }}

{{ if not page.IsHome }}
    {{ with page.Description }}
        {{ $description = . }}
    {{ else }}
        {{ $description = page.Summary | plainify}}
    {{ end }}
{{ end }}

{{ return $description }}