@use "footer-legal";

.footer {
    background: var(--dark-bg-gradient);
    color: var(--text-on-dark);

    .footer__inner {
        padding-block: var(--main-gap);
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
}