.footer-legal {
    background-color: var(--base-dark);
    color: var(--text-on-dark);
    
    .footer-legal__inner {
        display: flex;
        justify-content: space-between;
        padding-block: var(--main-gap);        
    }
    
    .footer-legal__nav {
        display: grid;
        gap: calc(var(--main-gap) / 2);
        padding: 0;
        list-style: none;

        a {
            text-decoration: underline;
        }
    
        @media (width > 26rem) {
            grid-auto-flow: column;
            gap: var(--main-gap);
        }
    }
}
