{{- .Page.Store.Set "full-shop" true }}
<section class="shop shop-home">
    <div class="shop__block">
        <h3 class="">Магазин книг и сувениров</h3>
        <div id="full-shop">
            <p><em>Магазин пока не работает, но это временно.</em></p>
            <p>
                📦 <strong>Однако</strong>, если вы хотите приобрести книгу <strong>«Смайлики»</strong> Матвея
                Ганапольского с его автографом, вам необходимо прислать на <a
                   href="mailto:ganapolskykniga@gmail.com">ganapolskykniga@gmail.com</a> следующую информацию: точный
                адрес с почтовым индексом (для жителей Украины — отделение Новой почты или Поштамат), имя и фамилию
                получателя, номер телефона и пожелание к надписи.
            </p>
        </div>
    </div>
</section>