{{ $heroBg := resources.Get (path.Join "images" .Site.Params.HeroBackground) }}
{{ with and $heroBg ($heroBg.Resize "1200x webp") }}
<div class="hero" role="banner" style="--hero-bg-image: url('{{ .RelPermalink }}');">
{{ else }}
<div class="hero" role="banner">
{{ end }}
    <div class="width-wrapper">
        <div class="hero__block">
            <div class="hero__content">
                <h1 class="hero__content-title">
                    {{ delimit .Site.Params.heroTitle "<br>" | safeHTML }}
                </h1>
            </div>
        </div>
    </div>
</div>