<div class="youtube-feed">
    <h2>Регулярные передачи</h2>
    {{/*  <pre>Playlists: {{ debug.Dump  (index . 0) }}</pre>  */}}
    {{ range . }}
    
    <h3>Название плейлиста </h3>
    <p>Всего передач: {{ .pageInfo.totalResults }}</p>
    <ul>
        {{ range .items }}
            {{ $pubDate := time.Format "02.01.2006" (time .contentDetails.videoPublishedAt) }}
            {{ $thumb := .snippet.thumbnails.medium.url }}
            {{ $thumb = partial "common/get-remote-img" $thumb }}
            <li data-videoid="{{ .contentDetails.videoId }}">
                <h4>{{ .snippet.title }}</h4>
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .snippet.title }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" loading="lazy">
                <p>{{ $pubDate }}</p>
                {{/*  <p>{{ .snippet.description | truncate 150 }}</p>  */}}
            </li>
        {{ end }}
    </ul>
    {{/*  <pre>Snippet0: {{ debug.Dump  ( (index .items 0) ) }}</pre>  */}}
    {{ end }}
</div>