{{- $feed := partial "func/youtube-feed-fetcher.html" . }}
{{/* <pre>debug: {{ debug.Dump ($feed.fetchTime) }}</pre> */}}
{{- $channelData := "" }}
{{- $playlistsData := "" }}

<section class="youtube-homepage">
    <div class="width-wrapper">
        <div class="youtube-homepage__block">
            {{ partial "homepage/youtube-channel-info" $feed.channel }}
            {{ partial "homepage/youtube-videos" $feed.videos }}
        </div>
        <p class="youtube-homepage__updated"
            data-unixtime="{{ $feed.fetchTime | safeJS  }}"
            data-time-text="Updated:"
        ></p>                
    </div>
    <script>
        
    </script>
</section>