<div class="youtube-info">
    {{ with . }}
        {{ $data := index . 0 }}
        {{ $info := index $data.items 0 }}
        {{ $brand := $info.brandingSettings.channel }}
        {{ $stat := $info.statistics }}
        {{/*  {{ $brandImg := $info.brandingSettings.image.bannerExternalUrl }}  */}}
        {{/*  {{ $brandImg = partial "common/get-remote-img" $brandImg }}  */}}
        {{ $channelLogo := $info.snippet.thumbnails.medium.url }}
        {{ $channelLogo = partial "common/get-remote-img" $channelLogo }}
        {{/*  <pre>Channel: {{ debug.Dump $info }}</pre>  */}}
        
        <h2>YouTube канал {{ $brand.title }}</h2>
        <p>{{ $brand.description }}</p>
        {{/*  <img src="{{ $brandImg.RelPermalink }}" alt="" width={{ $brandImg.Width }} height={{ $brandImg.Height }}>  */}}
        <img src="{{ $channelLogo.RelPermalink }}" alt="channel logo" width={{ $channelLogo.Width }} height={{ $channelLogo.Height }}>
        <ul>
            <li>Подписчики: {{ (substr $stat.subscriberCount 0 -3) | lang.FormatNumber 0 }} тыс.</li>
            <li>Видео: {{ $stat.videoCount }} шт.</li>
            <li>Просмотров: {{ $stat.viewCount | lang.FormatNumber 0 }} раз</li>
        </ul>
        {{/*  <pre>Channel: {{ debug.Dump  . }}</pre>  */}}
    {{ else}}
        <h2>YouTube info ERROR</h2>
    {{ end }}
</div>