
<li class="youtube-card">
    <button
        class="button"
        data-video-id="{{ .videoId }}"
        data-video-title="{{ .title }}"
        aria-label="Play {{ .title }}"
    >
        <h4 class="title">{{ .title }}</h4>
        <img class="image" src="{{ .thumb.RelPermalink }}" alt="{{ .title }}" width="{{ .thumb.Width }}" height="{{ .thumb.Height }}" loading="lazy">
        <div class="info">
            <p class="date">{{ .pubDate }}</p>
            <p class="type">{{ .type }}</p>
        </div>
    </button>
    {{/*  <pre>Card: {{ debug.Dump  . }}</pre>  */}}
</li>