{{ if eq .liveBroadcastContent "none" }}
{{ $title := split .title "/" }}
{{ $name := index $title 0 | strings.TrimSpace }}
{{ $type := index $title 1 | strings.TrimSpace }}
{{ $pubDate := time.Format "02.01.2006" (time .publishedAt) }}
{{ $thumb := .thumbnails.medium.url }}
{{ $thumb = partial "common/get-remote-img" $thumb }}
<li class="youtube-card" data-videoid="{{ .contentDetails.videoId }}">
    <h4 class="youtube-card__title">{{ $name }}</h4>
    <img class="youtube-card__image" src="{{ $thumb.RelPermalink }}" alt="{{ .title }}" width="{{ $thumb.Width }}" height="{{ $thumb.Height }}" loading="lazy">
    <div class="youtube-card__description">
        <p>{{ $type }}</p>
        <p>{{ $pubDate }}</p>
        {{/* <p>{{ .snippet.description | truncate 150 }}</p> */}}
        
    </div>
    {{/*  <pre>Card: {{ debug.Dump  . }}</pre>  */}}
</li>
{{ end }}