{{- $videos := slice }}
{{/*  {{- range first 10 (where . "liveBroadcastContent" "none") }}  */}}
{{- range first 10 . }}
    {{- $title := split .title "/" }}
    {{- $video := dict
        "videoId" .id
        "title" (index $title 0 | strings.TrimSpace)
        "type" (index $title 1 | strings.TrimSpace)
        "date" (index $title 2 | strings.TrimSpace)
        "broadcastStatus" .liveBroadcastContent
        "pubDate" (time.Format "02.01.2006" (time .publishedAt))
        "thumb" (partial "common/get-remote-img" .thumbnails.medium.url)
    }}
    {{- $videos = $videos | append $video }}
    {{/*  <pre>Card: {{ debug.Dump  . }}</pre>  */}}
{{- end }}
    
<div class="youtube-homepage__videos">
    <h2>Последние выпуски</h2>
    <ul class="youtube-homepage__videos-list">
        {{- range $videos }}
            {{ partial "homepage/youtube-card" . }}
        {{- end }}
    </ul>

    <dialog id="youtubeDialog">
        <button class="close-btn" aria-label="Close video" title="Close">
            ✕
        </button>
        <div class="container">
            <iframe
                id="youtubeIframe"
                src=""
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
                referrerpolicy="strict-origin-when-cross-origin"
            >
            </iframe>
        </div>
    </dialog>
</div>
{{/*
<pre>Card: {{ debug.Dump  . }}</pre> */}}