<div class="youtube-feed">
    <h2>Регулярные передачи</h2>
    {{/*  <pre>Playlists: {{ debug.Dump  (index . 0) }}</pre>  */}}
    {{ range $index, $list := . }}
    {{ $playListParam := index site.Params.youtube.playLists $index}}    
    <h3>{{ $playListParam.name }}</h3>
    <p>{{ $list.pageInfo.totalResults }} выпуска</p>
    <ul>
        {{ range $list.items }}
            {{ partial "homepage/youtube-playlist-item" . }}
        {{ end }}
    </ul>
    {{/*  <pre>Snippet0: {{ debug.Dump  ( (index .items 0) ) }}</pre>  */}}
    {{ end }}
</div>